body {
  background-image: url(/media/bard2.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  background-clip: content-box;
  color: white;
}

body > * {text-align: center; }

/* Set dimensions and flex layout */
#page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* 10vh */
#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  font-size: 2em;
  font-weight: bold;
}

/* height:85vh || width:5vw*/
#content {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

#content > #result {
  color: white;
  display: flex;
  flex-direction: column;
  width: inherit;

  border-right: 21px double #009992;
  border-left: 21px double #009992;
  padding: 0;
  border-radius: 40px 40px 40px 40px;
}

#result div {
  display: flex;
  flex-direction: row;
}


#content > #result > div > p.edit > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 10%;
}

/* width: 25vw */
p.title{
  display:flex;
  width: 23vw;
  justify-content: flex-start;
  margin-left: 2vw;
}

/* total width: 20vw */
p.year, p.rating, p.genre, p.usrRating{
  width: 5vw;
  justify-content: flex-start;
}
/* width: 15vw */
p.image{
  width: 15vw;
  justify-content: flex-start;
}


p.edit {
  margin: 5px;
  border: 0.2em solid #FFFFFF;
  border-radius:0.12em;
  box-sizing: border-box;
  color: black;
  background-color: white;
  /* flex-grow: 1; */
}

#content > #result > div > p.edit:hover {
  color: white;
  background-color: black;
  cursor: pointer;

}


#content > #result > div > p.dlt > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 10%;
}

#content > #result > div > p.dlt {

  margin: 5px;
  flex-grow: 1;

  border: 0.1em solid #FFFFFF;

  border-radius:0.12em;
  box-sizing: border-box;
  color: black;
  background-color: white;
  max-width: 5.5em;
}

#content > #result > div > p.dlt:hover {
  color: white;
  background-color: black;

  cursor: pointer;
}

#content > #addmov, #content > #logout {
  color: white;
  width: 10%;
  order: 2;
  align-self: center;
  display:inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  color: white;
  background-color: transparent;
}

#content > #logout {
    position: absolute;
    top: 1em;
    right: 1em;
  }

#content > #addmov:hover, #content > #logout:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

#dilg[open] {
  display: flex;
  height: 30vh;
  width: 30vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: white;
  top: 40%;
  background-color: rgba(0,0,0, 0.3);
}
#movform input{
  width: 10vw;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: inherit;
  height: inherit;
}
label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
  width: inherit;
}
#subBtn, #cnlBtn{
  width: 10vw;
}

#btns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
